<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/userBase::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="profileSection" id="main">
        <div class="profileContainer">
            <img th:src="@{'/profile_images/'+${user.image}}" alt="" width="150" height="150"><br>
            <div class="informationUser">
                <h3>Name:</h3><h3 th:text=${user.name}></h3>
                <h3>Email:</h3><h3 th:text=${user.email}></h3>
            </div>
            <button type="button" th:onclick="@{location.href='/user/updateuser'}">Update</button>
        </div>
    </section>
</body>
</html>