<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartContact</title>
</head>
<body>
    <section class="body">
        <div class="bodyContent">
            <h2>Manage Your Contact in smarter way</h2>
            <button id="signin">SignIn</button>
            <button id="signup">SignUp</button>
        </div>
    </section>
</body>
</html>