<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div class="formContainer">
            <form th:action="@{/register}" method="POST">
                <h2>SignUp!</h2>
                <div th:if="${session.message}" th:classappend="${session.message.type}">
                    <span th:text="${session.message.subject}"></span>
                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                </div>
                <input type="text" name="name" id="nameId" 
                placeholder="enter your name..."><br>
                <!-- printing errors for name field -->
                <div>
                    <p th:if="${conditions!=null}" style="color: rgb(255, 254, 254); text-align: left; margin-left: 2.5em;">This field can't be blank<br>name should be between 3-10 charecters<br>not any special symbols are allowed</p>
                </div>
                <input type="text" name="email" id="emailId" 
                placeholder="enter your email.."\><br>
                <!-- printing errors for email field -->
                <div>
                    <p th:if="${conditions!=null}" style="color: rgb(255, 254, 254); text-align: left; margin-left: 2.5em;">please enter a valid email address</p>
                </div>
                <input type="password" name="password" id="passwordId" 
                placeholder="enter your password..."><br>
                <input type="checkbox" name="checkbox" id="checkboxId">
                <label for="checkboxId">Terms and Conditions</label><br><br><br>
                <button type="submit">SignUp!</button>
            </form>
        </div>
    </section>
</body>
</html>